<!DOCTYPE html>
<html ng-app="kurl">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kyriakos Georgiou">
    <meta name="description" content="kurl, URL Shortener.">

    <script src="bower_components/angularjs/angular.min.js" type="application/javascript"></script>

    <script src="build/js/kurl.min.js" type="application/javascript"></script>
    <link href="build/css/kurl.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<div ng-controller="ShorteningController">
    <h2 align="center">kurl: An open <a href="//github.com/kgeorgiou/kurl" target="_blank">source</a> URL shortener.</h2>

    <div class="container">
        <input name="longUrl" class="input-url-long" placeholder="Enter long URL" size="2048"
               autocomplete="off" ng-model="longUrl" required>
        <a class="shorten-button" ng-click="shortenUrl()">Shorten</a>
    </div>

    <div class="container" ng-show="shortUrlExists()">
        <input name="shortUrl" class="input-url-short" placeholder="" size="24" autocomplete="off"
               ng-model="shortUrl">
    </div>
</div>

</body>

<footer>

</footer>
</html>