<!DOCTYPE html>
<html ng-app="keg">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kyriakos Georgiou">
    <meta name="description" content="Keg, URL Shortener.">

    <script src="bower_components/angularjs/angular.min.js" type="application/javascript"></script>

    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet">

    <script src="build/js/keg.min.js" type="application/javascript"></script>
    <link href="build/css/keg.min.css" rel="stylesheet" type="text/css">
</head>

<body class="body-blue">

<div ng-controller="ShorteningController" ng-cloak>
    <div id="logo-container">
        <img id="keg-icon" height="75" width="100" src="vectors/keg.svg">
    </div>
    <h2 align="center">Keg: An open <a href="//github.com/kgeorgiou/kurl" target="_blank">source</a> URL shortener.
    </h2>

    <div class="container-1">
        <input name="longUrl" id="input-url-long" placeholder="Enter long URL" size="2048"
               autocomplete="off" ng-model="longUrl" required>
        <a class="shorten-button btn-brown" ng-click="shortenUrl()">Serve</a>
    </div>
    <div class="container-2">
        <div class="expiry-string">{{getExpiryString()}}</div>
        <i class="timer-icon btn-brown" ng-click="toggleExpiryFlag()">
            <img height="32" width="32" ng-src="{{expiry.flag ? 'vectors/timer-white.svg' : 'vectors/timer-brown.svg'}}">
        </i>
    </div>
    <div class="container-3" ng-show="expiry.flag">
        <div layout>
            <div class="flex-container" flex="10" layout layout-align="left center">
                <span class="md-body-1">Minutes</span>
            </div>
            <md-slider flex md-discrete ng-model="expiry.expMinutes" step="1" min="0" max="59" va aria-label="minutes">
            </md-slider>
        </div>
        <div layout>
            <div class="flex-container" flex="10" layout layout-align="left center">
                <span class="md-body-1">Hours</span>
            </div>
            <md-slider flex class="md-warn" md-discrete ng-model="expiry.expHours" step="1" min="0" max="23"
                       aria-label="hours">
            </md-slider>
        </div>
        <div layout>
            <div class="flex-container" flex="10" layout layout-align="left center">
                <span class="md-body-1">Days</span>
            </div>
            <md-slider flex class="md-primary" md-discrete ng-model="expiry.expDays" step="1" min="0" max="365"
                       aria-label="days">
            </md-slider>
        </div>
    </div>
    <div class="container-4" ng-show="shortUrlExists()">
        <a href="{{shortUrl}}" target="_blank">
            <img id="pint-icon" height="35" width="40" src="vectors/pint.svg">
        </a>
        <input name="shortUrl" id="input-url-short" placeholder="" size="24" autocomplete="off"
               ng-model="shortUrl">
    </div>
</div>

</body>

<footer>

</footer>
</html>